body {
    margin: 0px 0px 0px 0px;
    display: grid;
    width: 100%;
    grid-template-areas: "tete"
                         "nav"
                         "principale" 
                         "pied";                         
    grid-template-rows: 125px 70px minmax(600px, auto) auto;
    grid-template-columns: 100%;
    height: 100%;
   }



nav{
    grid-area: nav;
    background-color:rgb(240,195,78);
    border: 1px solid white;
vertical-align:middle;
}

header, section{
    background-color: 	rgb(81,111,137);
}

header h1{
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    margin-top: 35px;

}

#classet {
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    margin-top: 70px;
    padding-bottom: 70px;
    


}

#form {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    align-items: center;
    padding: 20px 20px 50px 20px;
    margin: 20px 0px 20px 0px;
    background-color:  rgb(226, 226, 199);
    
}


input{

    width: 400px;
    height: 35px;
    border-radius: 7px;
    margin-top: 50px;
    font-size: 20px;
    background-color:  rgb(211, 211, 163);
}
button{
    width: 150px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    margin-top: 50px;
    background-color:  rgb(211, 211, 163);
}

h1 {
    font-size: 25px;
}

#AEStext{
    display: none;
}


section p{
    padding-top: 20px;
    padding-left: 50px;
    text-align: left;
    font-size: 19px;
}

span {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    margin-top: 20px;
    margin-left: 20px ;
}

header{
    grid-area: tete;
    width: 100%;

}

footer{
    grid-area: pied;
    background-color: #FF715B;
    margin-right: 0px;
    margin-left: 0px;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;

}

section{
    grid-area: principale;
    width: 100%;
    padding-top: 50px;
}


a {
    color: black;
}


.scrollbar{

    -webkit-appearance: slider-vertical;
    height: 125px;
    width: 50px;
}


.vert {
    color: rgb(0, 50, 0);
}

.rouge {
    color: rgb(82, 0, 0);
}


#M0{

    display: flex;
    position: relative;
}

#M0 p{
    margin-left: 25%;
}

#barre_nav{
    display: grid;
    text-align: center;
    grid-template-rows: 1fr;
    place-items: center;
    padding-left: 20px;
    grid-template-areas: 'accueil pilot connect inscrit';
    grid-template-columns: 200px 200px 200px 200px;
}

#barre_nav > span {
    padding: 25px 10px;
    margin-top: 0;
   
}

#span_accueil{
    grid-area: accueil;
}
#span_pilotage{
    grid-area: pilot;
}
#span_connexion{
    grid-area: connect;
}
#span_inscription{
    grid-area: inscrit;
}

#barre_nav span{
    width: 100%;
    text-align: center;
} 

#barre_nav span:hover{
    background-color: gray;
    border-right: 1px solid black;
}

#thescrolls{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#thescrolls input{
    margin-left: 35px;
    margin-right: 35px;
    height: 200px;
    width: 30px;
}

#deb{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;



    
}
#de {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#deb input{
    width: 150px;
    margin-right: 20px;
}

#autre {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
#test{
    display: flex;
    flex-direction: column;
}

#canal{
    display: none;
}